@model List<Efs.ViewModels.CartridgeDetailViewModel>

<div class="modal fade" id="manageCartridge" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Manage Cartridge Inventory</h1>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table class="table table-striped text-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Printer Brand</th>
                                <th>Printer Model</th>
                                <th>Cartridge Colour</th>
                                <th>Cartridge Number</th>
                                <th>Cartridge PartNo</th>
                                <th>Stock Quantity</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int counter = 1;

                            }
                            @if(Model != null && Model.Any())
                            {
                                @foreach(var item in Model)
                                {
                                    string badgeClass = "";
                                    if(item.stock_quantity < 10)
                                    {
                                        badgeClass = "badge bg-danger";
                                    }
                                    else if (item.stock_quantity >= 10 && item.stock_quantity <= 20)
                                    {
                                        badgeClass = "badge bg-warning text-dark"; // Yellow Badge
                                    }
                                    else
                                    {
                                        badgeClass = "badge bg-success"; // Green Badge
                                    }
                                    <tr>
                                        <td>@counter</td>
                                        <td>@item.printer_brand</td>
                                        <td>@item.printer_model</td>
                                        <td>@item.cartridge_colour</td>
                                        <td>@item.cartridge_number</td>
                                        <td>@item.cartridge_partNo</td>
                                        <td><span class="@badgeClass">@item.stock_quantity</span></td>
                                        <td>
                                            @if (item != null)
                                            {
                                                <a asp-action="Edit" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                   data-id="@item.id">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>

                                                <span>|</span>

                                                <a asp-action="Delete" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                                   data-id="@item.id">
                                                    <i class="fa-solid fa-trash"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                        </td>
                                    </tr>
                                    counter++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="mt-3 text-center">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>
</div>



     



